{% extends 'bootstrap/base.html' %}

{% block title %}Get reading!{% endblock %}

{% block content %}
<h1>My Library</h1>
<div>
<!--if statement tells user if there aren't any books  -->
    {% if total == 0 %}
    <p>Library is empty!</p>
    {% else %}
    <ul>
        {% for book in library %}
<!--        passes back discrete ids to relevant functions-->
        <li><a href="{{ url_for('delete', id=book.id) }}">Delete</a> {{book.title}} - {{book.author}} - {{book.rating}}/10 <a href="{{url_for('edit', id=book.id)}}">Edit Rating</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
<a href="{{ url_for('add') }}">Add New Book</a>
</div>
{% endblock %}